.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: whitesmoke;
  height: 50px;
  text-align: center;


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #222;
  }

  .nav-bar-left {
    float: left;
    margin: 5px;
    padding-left: 5px;
  }

  .nav-bar-right {
    float: right;
    margin: 5px;
    padding-right: 5px;
  }
}